p {
  margin: 0;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  color: #8b8b8b;
}

h1 {
  margin: 0;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  color: #8b8b8b;
}

.Welcome {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (min-width: 320px) and (max-width: 480px) {

}