h1 {
  margin: 0;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  color: white;
}

p {
  margin: 2px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.Welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
  background: #195cad;
}

.About {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5vh;
}


.AppBar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 5vh;

  p {
    margin: 3px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #5a5a5a
  }

  a:visited, a:link {
    text-decoration: none;
  }
}

.Layout {
  margin: 5px;
  padding: 10px;
  height: 40vh;
}